/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(base.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4 .bumper {
    width: 99px;
    height: 23px;
    background: url(bumper.svg) no-repeat;
    opacity: 0;
}

.ds4 .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}

/*Not needed, but I like keeping them here for posterity*/
/*.ds4 .quadrant{
position: absolute;
background: url(ps4-assets/player-n.svg);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.ds4 .p0{
background-position: 0 -6px;
}
.ds4 .p1{
background-position: 0 -28px;
}
.ds4 .p2{
background-position: 0 -49px;
}
.ds4 .p3{
background-position: 0 -70px;
}*/

.ds4 .back, .ds4 .start {
    background: url(start.svg);
    width: 28px;
    height: 46px;
    opacity: 0;
}


.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(face.svg);
}


.ds4 .face {
    background: url(dpad.svg);
    position: absolute;
}

/*END PS4 Controller Styling*/
